multipart/form-data broken on new firefox version

Multipart forms seem to be broken in new firefox versions, no idea why. It works in chromium, qtwebkit and firefox 128 ESR but it seems like something changed in a new version. I looked at the difference between the form format for between firefox versions but they seem the same. Here's a minimal example:
```nim
import prologue

const page = """<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Upload</button>
    </form>
</body>
</html>"""

proc form(ctx: Context) {.async.} =
    resp htmlResponse(page)
    
proc upload(ctx: Context) {.async.} =
    try:
        let f = ctx.request.formParams["image"]
        if f.body.len == 0:
            resp "<h1>File upload is empty.</h1>"
        else:
            resp "<h1>Success, filename: " & f.params["filename"] & "</h1>"
    except KeyError:
        resp "<h1>Error, param 'image' not found.</h1>"

var app = newApp()
app.addRoute("/", form)
app.addRoute("/upload", upload, HttpPost)
app.run()
```
Will always respond with the error on firefox 135

Firefox changed their form boundary format (for whatever reason). Prologue doesn't like this new format.

Old format: `---------------------------323898160039929939653173633681`

New format: `----geckoformboundary7e078691432d9e8fc24d10b0f2bc9151`

Interestingly, it seems that Prologue specifically doesn't like the string `boundary` in the boundary. If you remove or modify that, the request starts working again. I'll need to do some more code review to figure out why.

Pretty sure the issue is this:

https://github.com/planety/prologue/blob/c3da4452732077652a6ebabb8b7365a65f300fbf/src/prologue/core/form.nim#L27

Seems like the only change needs to be to use find instead of rfind so it doesn't search from the end of the string, the example works with that.

Either that, or scan for `boundary=`, or a mixture of both. Pretty sure
it's still out of spec though, because as far as I know, the boundary
string in the header can either be quoted or left unquoted. Need to look at
the spec.


From [RFC 2046 section 5.1.1](https://datatracker.ietf.org/doc/html/rfc2046#section-5.1.1):
```
   WARNING TO IMPLEMENTORS:  The grammar for parameters on the Content-
   type field is such that it is often necessary to enclose the boundary
   parameter values in quotes on the Content-type line.  This is not
   always necessary, but never hurts. Implementors should be sure to
   study the grammar carefully in order to avoid producing invalid
   Content-type fields.  Thus, a typical "multipart" Content-Type header
   field might look like this:

     Content-Type: multipart/mixed; boundary=gc0p4Jq0M2Yt08j34c0p

   But the following is not valid:

     Content-Type: multipart/mixed; boundary=gc0pJq0M:08jU534c0p

   (because of the colon) and must instead be represented as

     Content-Type: multipart/mixed; boundary="gc0pJq0M:08jU534c0p"
```

I'm pretty sure the current implementation always assumes that the boundary parameter is _not_ quoted. This works:
```sh
curl 'http://localhost:8080/upload' \
  -H 'Content-Type: multipart/form-data; boundary=abcdef' \
  --data-binary $'--abcdef\r\nContent-Disposition: form-data; name="image"; filename="test.nim"\r\nContent-Type: text/x-nim\r\n\r\naaaa\r\n--abcdef--\r\n'
```
```html
<h1>Success, filename: test.nim</h1>
```

... but this doesn't:
```sh
curl 'http://localhost:8080/upload' \
  -H 'Content-Type: multipart/form-data; boundary="abcdef"' \
  --data-binary $'--abcdef\r\nContent-Disposition: form-data; name="image"; filename="test.nim"\r\nContent-Type: text/x-nim\r\n\r\naaaa\r\n--abcdef--\r\n'
```
```html
<h1>Error, param 'image' not found.</h1>
```

Form parsing seems a bit fragile in general. This crashes the server (malformed boundary ending):
```sh
curl 'http://localhost:8080/upload' \
  -H 'Content-Type: multipart/form-data; boundary=abcdef' \
  --data-binary $'--abcdef\r\nContent-Disposition: form-data; name="image"; filename="test.nim"\r\nContent-Type: text/x-nim\r\n\r\naaaa\r\n-\r\n'
```

```
Traceback (most recent call last)
/home/xx/.choosenim/toolchains/nim-2.0.2/lib/system.nim(568) eventLoop
/home/xx/.nimble/pkgs2/httpx-0.3.7-6e0fc3133fbd20530d53ab2792e93d3151387b10/httpx.nim(478) processEvents
/home/xx/.nimble/pkgs2/prologue-0.6.6-433777a19c0bf630753006f0646c5a6dbbfd4b74/prologue/core/application.nim(536) handler
/home/xx/.nimble/pkgs2/prologue-0.6.6-433777a19c0bf630753006f0646c5a6dbbfd4b74/prologue/core/application.nim(496) handleRequest
/home/xx/.choosenim/toolchains/nim-2.0.2/lib/pure/httpcore.nim(449) handleNativeRequest
/home/xx/.nimble/pkgs2/prologue-0.6.6-433777a19c0bf630753006f0646c5a6dbbfd4b74/prologue/core/form.nim(100) parseFormParams
/home/xx/.choosenim/toolchains/nim-2.0.2/lib/system.nim(370) parseFormPart
SIGSEGV: Illegal storage access. (Attempt to read from nil?)
```